
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfstate
**/*.tfstate.backup
**/crash.log
**/crash.*.log
**/*.tfvars
!infra/terraform/qa.tfvars
!infra/terraform/prod.tfvars
!infra/terraform-state/qa.tfvars
!infra/terraform-eip/qa.tfvars
!infra/terraform-eip/prod.tfvars

 
*.pem
*.key
*.p12
*.pfx
*.crt
*.env
.env.*
**/secrets.*
**/*credentials*

 
node_modules/
dist/
build/
.next/
out/
turbo/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

 
__pycache__/
*.pyc
.venv/
venv/

 
.DS_Store
Thumbs.db
.vscode/
.idea/

 
**/data/
**/volumes/

**/*.auto.tfvars
**/*secrets*.tfvars

 
**/*.auto.tfvars
**/*secrets*.tfvars
 
**/terraform.tfstate
**/terraform.tfstate.backup

 
**/.terraform/
