

services:
  api-gateway:
    container_name: api-gateway
    build: ./packages/backend/api-gateway
    ports:
      - "8000:80"
    depends_on:
      user-service:
        condition: service_healthy
      activity-service:
        condition: service_healthy
      agreement-service:
        condition: service_healthy
      approval-service:
        condition: service_healthy
    networks:
      - app-network

 
  user-db:
    image: postgres:15
    container_name: user-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: userdb123
      POSTGRES_DB: bd_academic_users
    ports:
      - "5433:5432"
    volumes:
      - ./packages/backend/user-service/db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d bd_academic_users"]
      interval: 5s
      timeout: 5s
      retries: 15
      start_period: 20s
    networks:
      - app-network

  user-service:
    build: ./packages/backend/user-service
    container_name: user-service
    environment:
      DB_HOST: user-db
      DB_PORT: 5432
      DB_NAME: bd_academic_users
      DB_USER: postgres
      DB_PASSWORD: userdb123
    depends_on:
      user-db:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "python -c \"import urllib.request; urllib.request.urlopen('http://127.0.0.1:8000/docs').read(); print('ok')\""
        ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 30s
    networks:
      - app-network


  frontend:
    build: ./packages/frontend/web
    container_name: frontend-web
    ports:
      - "3000:80"
    networks:
      - app-network

  
  agreement-db:
    image: postgres:15-alpine
    container_name: agreement-db
    environment:
      POSTGRES_DB: agreement_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: agreementdb123
    ports:
      - "5434:5432"
    volumes:
      - ./packages/backend/agreement-service/db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d agreement_db"]
      interval: 5s
      timeout: 5s
      retries: 15
      start_period: 20s
    networks:
      - app-network

  agreement-service:
    build: ./packages/backend/agreement-service
    container_name: agreement-service
    environment:
      DB_HOST: agreement-db
      DB_PORT: 5432
      DB_NAME: agreement_db
      DB_USER: admin
      DB_PASSWORD: agreementdb123
    depends_on:
      agreement-db:
        condition: service_healthy
      user-service:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "python -c \"import urllib.request; urllib.request.urlopen('http://127.0.0.1:8000/docs').read(); print('ok')\""
        ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 30s
    networks:
      - app-network

  activity-db:
    image: postgres:15-alpine
    container_name: activity-db
    environment:
      POSTGRES_DB: activity_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: activitydb123
    ports:
      - "5435:5432"
    volumes:
      - ./packages/backend/activity-service/db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d activity_db"]
      interval: 5s
      timeout: 5s
      retries: 15
      start_period: 20s
    networks:
      - app-network

  activity-service:
    build: ./packages/backend/activity-service
    container_name: activity-service
    environment:
      DB_HOST: activity-db
      DB_PORT: 5432
      DB_NAME: activity_db
      DB_USER: admin
      DB_PASSWORD: activitydb123
    depends_on:
      activity-db:
        condition: service_healthy
      agreement-service:
        condition: service_healthy
    healthcheck:
      
      test:
        [
          "CMD-SHELL",
          "python -c \"import urllib.request; urllib.request.urlopen('http://127.0.0.1:8000/docs').read(); print('ok')\""
        ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 30s
    volumes:
      - activity_storage:/app/storage
    networks:
      - app-network

 
  approval-db:
    image: postgres:15-alpine
    container_name: approval-db
    environment:
      POSTGRES_DB: approval_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: approvaldb123
    ports:
      - "5436:5432"
    volumes:
      - ./packages/backend/approval-service/db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d approval_db"]
      interval: 5s
      timeout: 5s
      retries: 15
      start_period: 20s
    networks:
      - app-network

  approval-service:
    build: ./packages/backend/approval-service
    container_name: approval-service
    environment:
        DB_HOST: approval-db
        DB_PORT: 5432
        DB_NAME: approval_db
        DB_USER: admin
        DB_PASSWORD: approvaldb123
        ACTIVITY_SERVICE_URL: http://activity-service:8000
        EVENT_SERVICE_URL: http://event-service:8000
        USER_SERVICE_URL: http://user-service:8000



    depends_on:
      approval-db:
        condition: service_healthy
      activity-service:
        condition: service_healthy
      event-service:
        condition: service_healthy
  
    healthcheck:
      
      test:
        [
          "CMD-SHELL",
          "python -c \"import urllib.request; urllib.request.urlopen('http://127.0.0.1:8000/docs').read(); print('ok')\""
        ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 30s
    networks:
      - app-network
  mqtt-broker:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./infra/mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log

    restart: unless-stopped  
    networks:
      - app-network

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - app-network

  notification-service:
    build: ./packages/backend/notification-service
    ports:
      - "8011:8000"
    environment:
      MQTT_BROKER: mqtt-broker
      MQTT_PORT: 1883
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - mqtt-broker
      - redis
    networks:
      - app-network
   
  kafka:
    image: apache/kafka:latest
    healthcheck:
        test: ["CMD-SHELL", "kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1"]
        interval: 10s
        timeout: 10s
        retries: 10
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - app-network


  event-service:
    build: ./packages/backend/event-service
    container_name: event-service
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_DEFAULT_TOPIC: system.events
    depends_on:
      kafka:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "python -c \"import urllib.request; urllib.request.urlopen('http://127.0.0.1:8000/health').read(); print('ok')\""]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 20s
    networks:
      - app-network
 
  rabbitmq:
    image: rabbitmq:3-management
    healthcheck:
        test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
        interval: 10s
        timeout: 10s
        retries: 10

    ports:
      - "15672:15672"
      - "5672:5672"

    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

    networks:
      - app-network


  audit-mongo:
    image: mongo:7
    container_name: audit-mongo
    ports:
      - "27018:27017"
    networks:
      - app-network

  audit-service:
    build: ./packages/backend/audit-service
    container_name: audit-service
    environment:
      MONGO_URI: mongodb://audit-mongo:27017
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
      RABBITMQ_EXCHANGE: domain_events
      RABBITMQ_QUEUE: audit_service_queue
      RABBITMQ_BINDING_KEYS: approval.*
    depends_on:
      rabbitmq:
        condition: service_healthy
      audit-mongo:
        condition: service_started
    ports:
      - "8010:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  activity_storage:
  mosquitto_data:
  mosquitto_log:
  rabbitmq_data:
