html, body, #root {
  width: 100%;
  height: 100%;
}

.min-vh-100 {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1;
  display: flex;
  justify-content: center;
}

.container-fluid > .row {
  width: 100%;
  max-width: 1200px;
}

.card {
  width: 100%;
}
