name: Build Microservice

on:
  push:
    branches: [features,qa, main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node (TurboRepo)
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Detect affected packages
        run: npx turbo run build --filter=...[HEAD^]

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push User Service
        run: |
          docker build -t alexa1209/user-service:${{ github.ref_name }} packages/backend/user-service
          docker push alexa1209/user-service:${{ github.ref_name }}
