name: Deploy Infra + Microservices (QA)

on:
  push:
    branches: [ qa ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # -------------------------------
      # Docker Hub Login
      # -------------------------------
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # -------------------------------
      # Build & Push Images
      # -------------------------------
      - name: Build & Push User Service
        run: |
          docker build -t alexa1209/user-service:latest backend/user-service
          docker push alexa1209/user-service:latest

      - name: Build & Push Activity Service
        run: |
          docker build -t alexa1209/activity-service:latest backend/activity-service
          docker push alexa1209/activity-service:latest

      - name: Build & Push Approval Service
        run: |
          docker build -t alexa1209/approval-service:latest backend/approval-service
          docker push alexa1209/approval-service:latest

      - name: Build & Push API Gateway
        run: |
          docker build -t alexa1209/api-gateway:latest backend/api-gateway
          docker push alexa1209/api-gateway:latest

      # -------------------------------
      # AWS Credentials
      # -------------------------------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      # -------------------------------
      # Terraform Apply
      # -------------------------------
      - name: Terraform Init
        run: |
          cd infra/terraform
          terraform init

      - name: Terraform Apply
        run: |
          cd infra/terraform
          terraform apply -auto-approve
