name: Deploy Microservices to AWS (QA)

# --- Deshabilitamos temporalmente el disparador para PR limpio ---
# on:
#   push:
#     branches: [ qa,features ]
#   workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Clonar repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Login Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # 3️⃣ Build & Push images
      - name: Build & Push API Gateway
        run: |
          docker build -t alexa1209/api-gateway:latest backend/api-gateway
          docker push alexa1209/api-gateway:latest

      - name: Build & Push User Service
        run: |
          docker build -t alexa1209/user-service:latest backend/user-service
          docker push alexa1209/user-service:latest

      - name: Build & Push Activity Service
        run: |
          docker build -t alexa1209/activity-service:latest backend/activity-service
          docker push alexa1209/activity-service:latest

      - name: Build & Push Approval Service
        run: |
          docker build -t alexa1209/approval-service:latest backend/approval-service
          docker push alexa1209/approval-service:latest

      # 4️⃣ AWS Credentials (Academy)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      # 5️⃣ INSTALAR TERRAFORM (ESTO TE FALTABA)
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # 6️⃣ Terraform Init
      - name: Terraform Init
        run: |
          cd infra/terraform
          terraform init

      # 7️⃣ Terraform Apply
      - name: Terraform Apply
        run: |
          cd infra/terraform
          terraform apply -auto-approve
