name: Destroy Infrastructure
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to destroy'
        required: true
        default: 'qa,features'
        type: choice
        options:
        - qa
        - features
        - prod

jobs:
  destroy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        account: [frontend, ms_a, ms_b, databases, bastion]
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets[format('AWS_{0}_ACCESS_KEY_ID', upper(matrix.account))] }}
        aws-secret-access-key: ${{ secrets[format('AWS_{0}_SECRET_ACCESS_KEY', upper(matrix.account))] }}
        aws-session-token: ${{ secrets[format('AWS_{0}_SESSION_TOKEN', upper(matrix.account))] }}
        aws-region: us-east-1
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
    
    - name: Terraform Init
      run: |
        cd infra/terraform
        terraform init
    
    - name: Terraform Destroy
      run: |
        cd infra/terraform
        terraform destroy -var-file="${{ github.event.inputs.environment }}.tfvars" -auto-approve