name: Destroy Infrastructure

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to destroy (qa or prod)'
        required: true
        default: 'qa'

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets[format('AWS_{0}_ACCESS_KEY_ID', upper(github.event.inputs.environment))] }}
          aws-secret-access-key: ${{ secrets[format('AWS_{0}_SECRET_ACCESS_KEY', upper(github.event.inputs.environment))] }}
          aws-session-token: ${{ secrets[format('AWS_{0}_SESSION_TOKEN', upper(github.event.inputs.environment))] }}
          aws-region: us-east-1

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd infra/terraform
          terraform init

      - name: Terraform Destroy
        run: |
          cd infra/terraform
          terraform destroy -var-file=environments/${{ github.event.inputs.environment }}.tfvars -auto-approve